<html lang="fr"><head><meta charset="utf-8"><meta http-equiv="X-UA-Compatible" content="IE=edge"><meta name="viewport" content="width=device-width, initial-scale=1"><title>scool manager</title><link href="assets/css/css.css" rel="stylesheet"><link href="assets/css/style.css" rel="stylesheet"><link href="assets/css/icofont.min.css" rel="stylesheet"></head><body><div class="edit_screen"><div class="edit_screen--in"><div class="edit--header"><div class="eleve_id"></div><div class="close_edit_scree">X</div></div><div class="edit--body"><div class="input-flex"><input type="text" name="edite_nom" id="edite_nom"><input type="text" name="edite_prenom" id="edite_prenom"></div><div class="input-flex"><select name="etab" id="edite_etablissement"><option value="samaritin">samaritin</option><option value="istco">istco</option><option value="isg">isg</option></select><select name="class" id="edite_classe"><option value="tleB">tle B</option><option value="tlBa">tle Ba</option><option value="2ndBb">2nd Bb</option></select></div><div class="input-flex one"><label for="edit_notes">les notes de la period en cours</label><input type="text" name="edit_notes" id="edit_notes"></div></div><div class="edit--footer"><button id="enregistre_edition">enregistrer</button><button>annuler</button></div></div></div><div class="absolut_ajouts"><!--notifications--><div class="not"><div class="notifications"><div class="notifi_icon">3</div><div class="notifi_texte">eleve ajouter avec succes</div></div></div><!--------ajouter eleve----------><div class="modal"><div class="moadal_in"><div class="former"><div class="formulair_titre">Ajouter un élève </div><div><div class="double"><div class="formg"><label for="nom">nom</label><input type="text" name="name" id="name"></div><div class="formg"><label for="prenom">prenom</label><input type="text" name="prenom" id="prenom"></div></div><div class="formg"><label for="etablissement">etablissement</label><input type="text" id="etablissement" name="etablissement"></div><div class="formg"><label for="classe">classe</label><input type="text" name="classe" id="classe"></div><div class="btns"><button class="btn ajouter_elev">ajouter</button><button class="btn annuler">anuler</button></div></div></div></div></div></div><div class="settingsLayer"><div class="parametres-inner"><div class="sidebar-parames"><div class="profile"><div class="bar_retour"><div class="closeSettingsLayer"><i class="icofont-long-arrow-left"></i></div></div><h4 class="nom">inconnue</h4><p class="matiere">pas definit</p></div><a href="#param_screen1"><i class="icofont-teacher"></i>Information personnel</a><a href="#param_screen2">gestion</a><a href="#param_screen3">anne Solaire</a><a href="#param_screen4"><i class="icofont-ssl-security"></i>Securiter</a></div><div class="params-layer"><div id="param_screen1" class="screen"><div class="screen-in flex"><div class="demis"><h1>editer infos</h1><div class="formg"><label for="nom">nom</label><input class="demis-input" value="" type="text" data_key="nom" name="nom" id="nom"><button class="button okbtn">ok</button></div><div class="formg"><label for="n">prenom</label><input class="demis-input" data_key="prenom" value="" type="text" name="n" id="n"><button class="button okbtn">ok</button></div><div class="formg"><div class="goupper"><label for="n">sex</label><select name="sel" id="sex" data_key="sex"><option value="homme">H</option><option value="femme">F</option></select><button class="button okbtn">ok</button></div></div></div><div class="demis actu border"><h1>infos actuel</h1><div class="actuel-nom">Nom: moasko</div><div class="actuel-prenom">PreNom: abdoul</div><div class="actuel-sex">sex: H</div></div></div></div><div id="param_screen2" class="screen"><div class="screen-in flex"><div class="demis"><h1>gestion</h1><div class="formg"><div class="goupper"><label for="decoupage">selectionnez le mode de decoupage de l'année
 scolaire</label><select name="decoupage" id="decoupage" data_key="decoupage"><option value="1">block</option><option value="2">semestre</option><option value="3">trimestre</option></select><button id="mode" class="button okbtn">ok</button></div></div><div class="formg"><label for="matiere">matiere prise</label><div class="goupper"><input class="demis-input" data_key="matiere" value="" type="text" name="matiere" id="matiere"><button class="button okbtn">ok</button></div></div><div class="formg"><label for="coef">coeficient de la matiere</label><div class="goupper"><input class="demis-input" data_key="coef" value="" type="number" name="coef" id="coef"><button class="button okbtn">ok</button></div></div></div><div class="demis actu border"><h1>infos actuel</h1><div class="modaliteCalcule"><div class="claculIn"><div class="box1"><label for="un" class="un"></label><input value="1" type="number" name="un" id="un"></div><div class="box2"><label for="deux" class="deux">+Trimestre2 x</label><input value="1" type="number" name="deux" id="deux"></div><div class="box3"><label for="trois" class="trois">+Trimestre3</label><input value="1" type="number" name="trois" id="trois"></div>=MGA </div><button class="modeVlide">valider</button></div></div></div></div><div id="param_screen3" class="screen"><div class="screen-in flex"><div class="demis"><h1>editer infos</h1><input type="hidden" id="selectedEtablissementId" name="dd"><div class="formg alignedInputs"><button class="add_new_etablissement_btn">ajouter</button><input class="demis-input" id="add_etablissement_input" type="text"></div><h4>liste des etablissments</h4><ul class="aficher_liste_etablissements"></ul></div><div class="demis actu border"><h1>infos actuel</h1><h4 class="indic_classe">liste des classes de <span class="actualeta"></span></h4><div class="formg alignedInputs clssees"><button class="add_classes_btn">ajouter</button><input class="demis-input" id="add_classes_input" data_key="add_classes" value="" type="text"></div><ul class="aficher_liste_classe"></ul></div></div></div><div id="param_screen4" class="screen"><div class="screen-in flex"><div class="demis"><h1>editer infos</h1><div class="formg"><label for="password">mot de passe de verouillage</label><div class="goupper"><input value="" type="text" data_key="passwordp" name="passwordp" id="passwordp"><button class="button okbtn">ok</button></div></div><div class="formg"><span>Dfinir un temp de verouillage automatique en cas d'inactiviter en
 <strong>minutes</strong></span><label for="passeword">temp de veroillage</label><div class="goupper"><input value="1" min="1" max="5" data_key="temps" type="number" name="temps" id="temps"><button class="button okbtn">ok</button></div></div></div><div class="demis actu border"><h1>infos actuel</h1><div class="actuel_password">mot de passe de verouillage: <strong></strong></div></div></div></div></div></div></div><div class="app-ecran"><!--la tête de l'app-->
 <header><div class="btnplus"><button class="pea"><i class="icofont-navigation-menu"></i></button></div><!--logo--><div class="label__conter"><div class="label__text">nombre d'eleves</div>
 <div class="label">0</div></div><div class="radios"><div id="a1" class="a1 epe">1</div><div id="a2" class="a2">2</div><div id="a3" class="a3">3</div></div><div class="annee"></div></header><!--le corps de l'app-->
 <div id="layout-container"><div id="sidebar"><h2>ETABLISSEMENTS</h2><div class="sidbar-content"></div><div class="vertical_nav_btns opened"><button class="btn_closer_params"><i class="icofont-close-line-circled"></i></button><div class="vertical-in"><button class="eleve_add_modal">+<span>ajouter un eleve</span></buttonn><button class="listes"><i class="icofont-list"></i><span>afficher la liste de cette calsse</span></button><button class="classement"><i class="icofont-listing-number"></i><span>fair le classement de cette classe</span></button><button class="btn_rond openSettingsBtn"><i class="icofont-settings-alt"></i><span>parametres</span></button></div></div></div><!--87399922--><div class="conter"><div class="ativ"><div class="cree"><div class="trace"></div><!-------------------tableau des notes----------------------------><div class="tableau"><div class="spla"><img width="100%" height="500px" src="assets/img/icons/tcsvg.svg" /></div></div></div><!--bare des infos relative--><div class="asid"><div class="notes nn"><h4 class="n1">aucun élève selectionner</h4><div class="add_note"><input type="hidden" value="0.5" name="di" id="di"><div class="selectes_types"><div id="0.5" class="note_sur active"><div class="point"></div><span>/10</span></div><div id="1" class="note_sur"><div class="point"></div><span>/20</span></div></div><label for="ajouter_note">attribuer une note a cet eleve</label><input placeholder="note" type="number" name="ajouter_note" id="ajouter_note"><div class="di"><button class="add_note_btn">+</button><button class="delet_note_btn">-</button></div><div class="notedur"></div></div><h1 class="points"></h1><hr><h1 class="moy">00<span class="dmn">dMn</span></h1></div><div class="notes"><div class="notesf green"></div><p>la moyenne de classe</p><h1 class="myenne__classe"></h1><sup>dMn</sup></div><div class="notes">aucun élève selectionner </div><div class="notes"><div class="notesf"><img src="assets/img/icons/green.png" alt=""></div><p>la plus forte moyenne</p><h1 class="plus_forte_n">00</h1><sup>dMn</sup></div><div class="notes"><div class="notesf"><img src="assets/img/icons/red.png" alt=""></div><p>la plus faible moyenne</p><h1 class="plus_faible_n">00</h1><sup>dMn</sup></div></div></div><body></div></div></div><div class="modal_liste"><div class="bar"><div class="close_liste">x</div><button class="print">imprimer</button></div><h1 class="classe_name"></h1><div class="table"><table><thead></thead><tbody></tbody></table></div></div><div class="lock-screen dislock"><div class="lock-screen-in"><div class="dislocker_form"><input placeholder="Mot de passe" type="password" name="m" class="password" id="password" /><button id="dislock_btn">deblocker</button></div></div></div><script src="assets/js/logic.js"></script><script src="script.js"></script></body></html>&::-webkit-scrollbar-thumb:hover {
    background: #555 !important;
}


}
.classe_name {
    color: #000;
    width: max-content;
    border: 1px solid;
    padding: 5px;
    margin: 5px 0px 0px 0px;
}
.table_bar_btn {
    .close_liste {
        height: 30px;
        color: #fff;
        display: flex;
        justify-content: center;
        width: 30px;
        background: red;
    }
}
.notes:hover {
    transition: 0.2s;
    background-color: #172a4d;
}
.notesf>img {
    width: 70px;
}
.loading__screen {
    height: 100vh;
    position: fixed;
    width: 100%;
    z-index: 897562;
    background-color: rgb(17, 17, 41);
    display: flex;
    justify-content: center;
    align-items: center;
    .loader {
        height: 100px;
        width: 100px;
        position: relative;
        .loading {
            border-radius: 50%;
            position: absolute;
            width: 100px;
            height: 100px;
            background-color: red;
        }
    }
}
@keyframes scal {
    from {
        opacity: 1;
        transform: scale(1, 1);
    }
    
    to {
        opacity: 0;
        transform: scale(2, 2);
    }
}
.unanim {
    animation: scal 1s infinite;
}
.deuxanim {
    animation: scal 2s infinite;
}
.troisanim {
    animation: scal 3s infinite;
}
.moy {
    right: 14px;
    position: absolute;
    display: inline;
    bottom: 0;
}
.points {
    right: 14px;
    position: absolute;
    display: inline;
    bottom: 60px;
    sub {
        font-size: 14px;
        color: rgba(0, 0, 0, 0.603);
    }
}
.notesf {
    right: 0;
    bottom: 0;
    position: absolute;
}
.notes>p {
    text-align: center;
    font-size: 12px;
}
.trrr {
    background-color: #00a8a8b9;
}

/*tableau*/
.vm {
    margin-left: 4px;
    padding: 3px;
    width: 30px;
    border: none;
}
.ajouter {
    border: none;
    width: 40px;
}
.plus {
    background-color: green;
    font-size: 30px;
    text-align: center;
}
.trace {
    z-index: 200;
    top: 0;
    width: 100%;
    position: absolute;
    padding: 3px;
    font-size: 11px;
    color: #ffffff;
    background-color: #023361;
}
.eleve {
    position: relative;
    cursor: pointer;
    border-bottom: 1px solid #5e6e84;
    font-weight: bold;
    color: white;
    background-color: #253142;
    padding: 5px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    &:hover {
        background-color: #1d6ace;
    }
    
    &:focus {
        background: red;
    }
}
.notees {
    font-size: 12px;
    margin-right: 20px;
    display: flex;
}
.notees>div {
    width: 33px;
    text-align: center;
}
.nom_eleve {
    width: 100%;
    font-size: 12px;
    text-transform: capitalize;
}
.plus_hun {
    transition: 0.5s;
    position: relative;
}
.visible {
    display: none;
}
.pluss {
    border: 1px dotted orange;
    z-index: 80;
    display: flex;
    flex-direction: column;
    top: 11px;
    right: 3px;
    position: absolute;
    width: 80px;
    background-color: #fff;
}
.pluss>a {
    padding: 5px;
    border-bottom: 1px dotted darkgrey;
    width: 100%;
    color: #000;
}
.pluss>a:hover {
    background-color: rgb(230, 230, 230);
}
.more {
    align-items: center;
    width: 30px;
    top: 0;
    display: flex;
    justify-content: center;
    right: 0;
    position: absolute;
    color: blue;
    height: 100%;
}
.rang {
    border-right: 1px solid #807e7e;
    display: inline;
    padding-right: 9px;
    margin-right: 12px;
    color: #38e700;
    font-weight: 100;
}
.moadal_in {
    display: flex;
    justify-content: center;
    align-items: center;
    left: 0;
    bottom: 0;
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.699);
    z-index: 3333;
    background: transparent;
    backdrop-filter: blur(4px);
}
.modal {
    z-index: 14444;
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
}
.flex {
    display: flex;
}
.former {
    position: relative;
    background-color: #fff;
    padding: 1rem;
    width: 30%;
    height: 80%;
}
.double {
    justify-content: space-between;
    display: flex;
}
.formg>label {
    display: block;
}
.formulair_titre {
    margin-bottom: 20px;
    text-align: center;
    text-transform: uppercase;
    font-size: 25px;
    color: rgb(2, 41, 124);
    width: 100%;
}
.vertical_nav_btns {
    transition: 0.5s;
    top: 0;
    background-color: #0053a0;
    padding: 5px;
    bottom: 23px;
    height: 100%;
    position: fixed;
    .vertical-in {
        position: relative;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        button,
        a {
            cursor: pointer;
            position: relative;
            margin-bottom: 10px;
            width: 30px;
            height: 30px;
            border: none;
            border-radius: 50%;
            span {
                font-size: 12px;
                overflow: hidden;
                width: 0px;
                position: absolute;
                left: 33px;
                top: 0;
                color: #000;
                padding: 0px;
                border-radius: 40px;
                background-color: orange;
            }
            &:hover span {
                width: max-content;
                padding: 6px;
            }
        }
        .raportFin {
            color: #fff;
            background-color: red;
        }
    }
    
    .btn_rond {
        text-align: center;
        background-color: red;
        font-size: 15px;
        align-items: center;
        justify-content: center;
        display: flex;
        color: #fff;
    }
}
.btn_closer_params {
    background-color: transparent;
    font-size: 30px;
    color: #fff;
    width: 100%;
    margin-bottom: 35px;
    text-align: center;
    padding-bottom: 20px;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
}
.formg {
    margin-bottom: 20px;
    padding: 1rem;
}
.formg>input {
    border: none;
    background-color: #c7d8d4;
    color: #424242;
    width: 100%;
    padding: 1rem;
}
.formg>select {
    color: #fff;
    background-color: #183863;
    border: none;
    width: 100%;
    padding: 10px;
}
.formg>select>option {
    padding: 5px;
}
.sex {
    display: flex;
    width: 100%;
}
.lab {
    font-size: 25px;
}
.check {
    margin-left: 50px;
}
.focus {
    transition: 0.3s;
    background-color: rgb(243, 84, 84) !important;
}
.btns {
    bottom: 0;
    width: 100%;
    justify-content: space-around;
    display: flex;
}
.ajouter_elev {
    color: #fff;
    background-color: rgb(45, 150, 45);
}
.annuler {
    color: #fff;
    background-color: rgb(252, 61, 61);
}
.btn {
    padding: 15px 56px;
    border: none;
}
.opened {
    transform: translate(-100%);
}
.eleve_add_modal {
    color: #fff;
    background-color: orangered;
}

/********notifications css********/
.not {
    display: none;
    top: 10px;
    right: 10px;
    z-index: 1000000000;
    position: absolute;
}
.notifications {
    background-image: radial-gradient(#ff00b3 1.4px, transparent 1px);
    background-size: calc(10 * 1px) calc(10 * 1px);
    display: flex;
    flex-direction: row;
    font-size: 15px;
    color: #fff;
    padding: 15px;
}
.notifi_texte {
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}
.notifi_icon {
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 35px;
    margin-right: 10px;
    font-weight: bolder;
    font-size: 20px;
    width: 35px;
}
.succes {
    border-left: 5px solid #dacbcb;
    background-color: rgb(0, 160, 40);
}
.fail {
    border-left: 5px solid #dacbcb;
    background-color: rgb(218, 0, 0);
}
.view {
    display: block !important;
}
.add_note {
    position: absolute;
    /* margin: auto; */
    
    bottom: 31px;
    left: 0px;
    border: 1px solid rebeccapurple;
    padding: 14px;
    bottom: 0;
    background-color: rgba(102, 51, 153, 0.301);
}
.add_note>label {
    display: block;
    font-size: 10px;
}
.add_note>input {
    border-radius: 6px;
    padding: 5px;
    border: 1px solid #0053a0;
    width: 140px;
    background-color: #001930;
    color: #fff;
}
.add_note>.di>button {
    margin-top: 6px;
    outline: none;
    color: #fff;
    background-color: transparent;
    width: 65px;
    height: 25px;
    border-radius: 6px;
    text-align: center;
    border: 1px solid;
}
.delet_note_btn {
    margin-left: 5px;
}

/*********listes de classe et autre************/
.modal_liste {
    transition: 0.3s;
    transform: translate(100%);
    z-index: 1000;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;
    position: fixed;
    top: 0;
}
.view {
    transform: translate(0%) !important;
}
table {
    margin-bottom: 200px;
    color: #000;
    border-collapse: collapse;
}
td,
th {
    min-width: 40px;
    border: 1px solid #999;
    padding: 0.5rem;
    text-align: left;
}

/********loading page***********/

/********liste modale******/
.delete_etablissement_button {
    cursor: pointer;
}
.activated {
    background-color: #7a8b9b!important;
}
.bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 6px;
    background-color: rgb(218, 218, 218);
}
@media print {
    .table {
        display: block;
    }
    
    .bar {
        display: none;
    }
    
    table {
        width: 100%;
        margin-bottom: 0px;
    }
}
.close_liste {
    cursor: pointer;
    font-size: 20px;
    font-weight: bold;
}
.dislock {
    display: none;
}
.loked {
    display: block;
}
.lock-screen {
    top: 0;
    position: fixed;
    z-index: 3040;
    background-color: #0061bd;
    width: 100%;
    height: 100vh;
}
.aucune {
    letter-spacing: 4px;
    animation: bli 1s infinite;
    width: 130px !important;
}
@keyframes bli {
    from {
        opacity: 0;
    }
    
    to {
        opacity: 1;
    }
}
.lock-screen-in {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}
.dislocker_form {
    display: flex;
    align-items: center;
    flex-direction: column;
}
.password {
    border-radius: 40px;
    border: none;
    outline: none;
    width: 400px;
    padding: 20px;
    font-display: 20px;
}
#dislock_btn {
    outline: none;
    border-radius: 20px;
    text-transform: uppercase;
    margin-top: 25px;
    padding: 15px 35px;
    border: none;
    background-color: rgb(42, 182, 0);
    color: #fff;
}

/********pages des parametres ************/
.parametres-inner {
    transition: 0.5s;
    display: grid;
    grid-template-columns: minmax(150px, 20%) 1fr;
}
.sidebar-parames {
    height: 100vh;
    border-right: 1px solid black;
    display: flex;
    flex-direction: column;
    a {
        background-color: #282f38ad;
        transition: 0.5s;
        border-bottom: 1px solid rgb(17, 17, 41);
        padding: 1rem;
        color: #fff;
        font-size: 14px;
        &:hover {
            transition: 0.5s;
            background-color: #313131;
            color: rgb(69, 87, 252);
        }
    }
}
.params-layer {
    transition: 0.5s;
    overflow: hidden;
    height: 100vh;
}
.profile {
    text-align: center;
    h4 {
        font-size: 35px;
        font-weight: bolder;
        margin: 0px;
    }
    
    .bar_retour {
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: rgb(0, 113, 128);
        width: 100%;
        text-align: left;
        a {
            border: none;
            background-color: #00bcd4;
            padding: 0px 20px;
            color: #fff;
            font-size: 34px;
            border-radius: 0px 30px 33px 0px;
        }
        p {
            padding: 0px;
            font-size: 25px;
            color: #00d7ec;
            margin: 0px 30px;
        }
    }
}
.screen {
    width: 100%;
    height: 100vh;
}
.screen-in {
    width: 100%;
    height: 100%;
    padding: 1rem;
    input,
    select {
        border: none;
        border-radius: 0;
        padding: 5px;
        background-color: rgb(51, 51, 51);
        &:focus {
            outline: rgb(40, 89, 252) solid 1px;
        }
    }
}
.border {
    border-radius: 14px;
    border: 1px solid rgb(52, 53, 63);
}
.actu {
    color: #fff;
}
.demis {
    padding: 1rem;
    width: 50%;
    div {
        margin-bottom: 12px;
    }
    
    h1 {
        text-align: center;
    }
}
.okbtn {
    width: 30px;
    height: 30px;
    font-size: 12px;
    border-radius: 50%;
}
.goupper {
    display: flex;
    align-items: center;
    input {
        width: 80%;
        padding: .5rem;
        font-size: 20px;
        color: #fff;
    }
}

/****types of inputs *****/
.long-input {
    width: 300px;
}
.demis-input {
    width: 250px;
}
.epe {
    font-size: 12px !important;
    transition: 0.2s;
    transform: scale(1.1);
    background-color: rgb(0, 92, 230) !important;
}
.spla {
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    font-size: 100px;
    color: rgb(31, 63, 88);
}
.radios {
    display: flex;
    margin-left: 100px;
    div {
        transition: 0.2s;
        font-size: 10px;
        background-color: rgba(0, 89, 255, 0.219);
        border-radius: 15px;
        padding: 5px 10px;
        cursor: pointer;
        border: 1px solid rgb(0, 30, 112);
        color: rgb(255, 255, 255);
        margin-left: 5px;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 30px;
    }
}

/*********les parametres de chaques eleves ****************/
.par {
    position: relative;
    text-align: right;
    .poper_view {
        position: absolute;
        overflow: hidden;
        display: flex;
        flex-wrap: wrap;
        height: 0;
        button {
            text-align: initial;
            padding: 10px 8px;
            width: 100px;
            margin: 0;
            border: none;
        }
        .editer_eleve {
            color: #038ece;
            border-bottom: 1px solid rgba(172, 172, 172, 0.562);
            &:hover {
                background-color: #038ece;
                color: #fff;
            }
        }
        .suprimer_eleve {
            color: #ff2839;
            &:hover {
                background-color: #ff2839;
                color: #fff;
            }
        }
    }
}
.popview {
    z-index: 1539;
    overflow: auto;
    height: auto !important;
    right: -5px;
    top: 25px;
}
.pea {
    cursor: pointer;
    background-color: transparent;
    border: none;
    font-size: 30px;
    color: #fff;
}

/************ecran d'edition eleves *********/
.edit_screen {
    transition: 0.5s cubic-bezier(0.64, 0.63, 0.05, 1.01);
    transform: translateX(100%);
    padding: 1rem;
    color: #000;
    box-shadow: 5px 0px 5px black;
    width: 35%;
    z-index: 1541;
    background-color: #fff;
    height: 100vh;
    position: fixed;
    right: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    .edit_screen--in {
        width: 100%;
        height: 100%;
        position: relative;
        .edit--header {
            width: 100%;
            min-height: 30px;
        }
        .edit--body {
            .input-flex {
                display: flex;
                margin-top: 20px;
                align-items: center;
                justify-content: space-around;
                input,
                select {
                    width: 45%;
                    padding: 10px 6px;
                    background-color: rgb(212, 212, 212);
                    border: none;
                }
            }
            .one {
                text-align: center;
                width: 100%;
                display: block;
                input {
                    width: 100%;
                }
            }
        }
        .edit--footer {
            position: absolute;
            bottom: 0;
            width: 100%;
            min-height: 30px;
        }
    }
    
    .close_edit_scree {
        cursor: pointer;
        font-size: 20px;
        font-family: Georgia, "Times New Roman", Times, serif;
    }
}
.edit_view {
    transform: translateX(0%) !important;
}
label {
    display: block;
}
.alignedInputs {
    display: flex;
}
.etabsInDom {
    transition: 0.5s;
    font-weight: bolder;
    cursor: pointer;
    min-width: 100px !important;
    padding: 5px 10px;
    background-color: rgb(245, 68, 68);
    margin-bottom: 3px;
    color: #fff;
    &:hover {
        transition: 0.5s;
        background-color: rgb(255, 139, 139);
    }
}
.aficher_liste_etablissements,
.aficher_liste_classe {
    padding: 0px;
    margin: 0px;
}
.classePrint,
.etabsInDom {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.classePrint {
    cursor: pointer;
    transition: 0.5s;
    padding: 5px 10px;
    background-color: rgb(0, 88, 129);
    color: #fff;
    margin-top: 7px;
    border-radius: 5px;
    &:hover {
        transition: 0.5s;
        background-color: rgb(0, 174, 255);
    }
}
.claculIn {
    display: flex;
    div {
        display: flex;
    }
}
.supnote {
    display: initial;
    font-size: 8px;
    color: #91b3ff;
}
.radiSElec {
    width: 100%;
    display: flex;
    position: absolute;
    bottom: 3px;
    right: 1px;
    .radg {
        margin-left: 20px;
        label {
            display: contents;
            font-size: 10px;
        }
        input {
            margin: 0px;
        }
    }
}
#un,
#deux,
#trois {
    width: 45px;
    color: rgb(255, 0, 21);
}
.get_note_editable {
    display: flex;
    margin-top: 15px;
    div {
        font-size-adjust: max($numbers: 12);
        font-weight: bold;
        margin: 5px;
        width: max-content;
        color: rgb(255, 255, 255);
        font-size: 12px;
        padding: 5px;
        border-radius: 5px;
        background-color: orangered;
        cursor: pointer;
        &:hover {
            background-color: #0053a0;
        }
        .sub {
            font-size: 9px;
        }
    }
}
.activeEtablissementClasse {
    background-color: #0053a0 !important;
}
.avide {
    font-size: 12px;
    padding: 4px;
    display: flex;
    align-items: center;
    border-radius: 30px;
    color: #fff;
    background-color: #0053a0;
}
.bled {
    display: flex;
    flex-direction: row;
    align-items: center;
    button {
        height: 100%;
        border: 0px;
    }
}
.selectes_types {
    .formga {
        position: relative;
        input {
            background-color: red;
            position: absolute;
            opacity: 0;
            width: 100%;
            height: 100%;
        }
    }
}
.settingsLayer {
    transition: .5s;
    position: fixed;
    transform: translate(-100%);
    z-index: 150;
    width: 100%;
    background: rgb(1, 23, 41);
}
.lowcolor {
    color: #ffffff54 !important;
}
.openSettingsLayer {
    z-index: 10000;
    transform: translate(0%)!important;
}
.selectes_types {
    .note_sur {
        display: flex;
        justify-content: space-between;
        align-items: center;
        cursor: pointer;
        font-weight: 300;
        color: #dad6d6;
        background-color: #4747475b;
        margin-right: 6px;
        text-align: right;
        width: 65px;
        padding: .3rem;
        border-radius: 6px;
        border: 1px solid #707070;
        span {
            display: block;
        }
        .point {
            background-color: transparent;
            width: 2px;
            height: 2px;
            border-radius: 50%;
            padding: 3px;
            border: 3px solid #707070;
        }
    }
    
    .active {
        color: #fddcdf;
        border: 1px solid #ff2839;
        background-color: #ff283a5b;
        .point {
            background-color: transparent;
            border: 3px solid #ff2839;
        }
    }
}